h1 {
  font-family: "Encode+Sans+SC";
  font-weight: 500;
}

.button {
  height: 100px;
  width: 100px;
  border: 2px solid coral;
  font-size: 15px;
  background-color: white;
  color: coral;
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

input[type="text"] {
  height: 30px;
  max-width: 140px;
  margin-bottom: 5px;
  text-align: right;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px;
}

.text {
  font-family: "IM Fell English SC";
  font-weight: 600;
  font-size: 20px;
}

.contenedor {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.operador {
  background-color: cornflowerblue;
}

.button:hover {
  background-color: coral;
  color: white;
}

.element {
  color: crimson;
  font-family: "Encode+Sans+SC";
  font-weight: 900;
  font-size: 25px;
}

.mensaje {
  background-color: crimson;
  color: white;
  font-family: "Encode+Sans+SC";
  font-weight: 900;
  margin-top: 10px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
}

.buttonlimpiar {
  height: 100px;
  width: 100px;
  border: 2px solid rebeccapurple;
  font-size: 15px;
  background-color: white;
  color: rebeccapurple;
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.buttonlimpiar:hover {
  background-color: rebeccapurple;
  color: white;
}
